

main {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5em;
    padding-bottom: 5em;
}

header {
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: #ffbaca;
    width: 100%;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #56585B;
    font-size: 1em;
    line-height: 1.6em;
    line-height: 2.0em;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 3em;
    line-height: 1.3em;
    text-align: center;
}

h2 {
    font-family: 'PT Serif', serif;
    font-weight: 700;
    color: #ffbaca;
    font-size: 1.8em;
    line-height: 1.3em;
    padding-bottom: 15px;
}

img {
    max-width:100%;
    height: auto;
  }

footer {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

#navigation {
    list-style-type: none;
    background-color: #A5757F;
    margin: 0;
    padding: 0;
}

ul li a{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #F3F2ED;
    font-size: 1em;
    display: block;
    text-decoration: none;
    line-height: 4em;
    text-align: center;
}

ul a:hover {
    background-color: #D8A296;
    color: white;
  }

.boba {
  color: white;
  background-image: url("images/boba.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2em;
}

.firsttext, .secondtext {
  color: white;
}

.box{
  padding-bottom: 2em;
}
